h1{ 
    position: relative; 
    left: 37%;
}

#main {  
    position: relative; 
    left: 87vh; 
    top: 10vh;
    height: 40vh; 
    width: 40vh;  
    
}   
#display{
    outline: solid; 
    outline-color: black;  
    outline-width: 2px;
    height: 3vh; 
    width: 33vh; 
    position: relative;
    left:20px;
} 


.buttons {     
    display: flex; 
    flex-flow: row wrap;  
    
}  
.number { 
    height: 10vh; 
    width: 10vh;   
    background-color: #20639b; 
    Color: white;  
    border-radius: 40%;
    

}  
.operator { 
    height: 10vh; 
    width: 10vh;  
    background-color: #20639b; 
    Color: white;  
    border-radius: 40%;
}   

.equal { 
    height: 10vh; 
    width: 10vh; 
    background-color: #20639b; 
    Color: white;
    border-radius: 40%;
}  

.clear { 
    height: 10vh; 
    width: 10vh;   
    background-color: #20639b; 
    Color: white;  
    border-radius: 40%;
    
}