h1{ 
    position: relative;  
    text-align: center;   
} 

body{ 
    width:100%; 
    height: 100%; 
    min-width:600px; 
    max-width:2000px 
}

#main {  
    position: relative;   
    width: 20%;    
    height: 100%; 
    border: medium solid black; 
    border-radius: 10px; 
    margin: 0 auto;
    
}   
#display{ 
    border-bottom: medium solid black; 
    height: 13%;  
    width: 100%; 
    position: relative;
    text-align: right;
    font-size: 5vh;  
} 


.buttons {     
    display: grid; 
    grid-template-columns: repeat(4, 1fr);   
    position: relative; 

    
    
} 

.number { 
    height: 65px; 
    width: 100%;   
    background-color: #240090; 
    Color: white;  
    font-size: large; 
    border: thin solid black;
    

}   

.number:active { 
    background-color: #15f1a8; 
    border: medium solid gray; 
    border-style: inset; 
    
}

.operator { 
    height: 100%; 
    width: 100%;  
    background-color: #282828; 
    Color: white;   
    font-size: large; 
    border: none;
}   

.operator:active { 
    background-color: #15f1a8;
}

.equal { 
    height: 100%; 
    width: 100%; 

}  

.equal:active { 
    background-color: #15f1a8;
}

.clear { 
    height: 100%; 
    width: 100%;   
   
    
}   

.clear:active {  
    background-color: #15f1a8;
}